node_modules
logTrace/

# Sensitive Information & Environments
.env*
*.log
*.pem
*.key
*.pub
*.pfx
*.p12
*.jks
*.cer
*.crt

# OS Files
.DS_Store
Thumbs.db

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Graphify
graphify-out/
.graphify-cache/
